<%= form_with(model: [@commentable, comment]) do |form| %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body,
      style: 'width: 100%',
      rows: 8,
      data: { controller: "textarea-autogrow" },
      maxlength: 5000,
      placeholder: 'Type your blog post here'
    %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>