<div class='card'>
  <div class='card-header'>
    <h1>Edit Post</h1>
  </div>
  <div class='card-body'>
    <%= render 'form', post: @post %>
  </div>
    <div class='card-footer'>
    <%= link_to 'Cancle', posts_path, class: 'btn btn-sm btn-secondary' %>
  </div>
</div>
