
<div class="bg-light text-center">
    <br>
    <div class="container"> 
        <div class="row aligh-items-start">
            <div class="col-md-4">
                <p>© 2023 Videotag</p>
            </div>
            <div class="col-md-4">
                <%= link_to 'Pricing', pricing_path, class: "link-secondary" %>
                <br>
                <%= link_to 'About', about_path, class: "link-secondary" %>
            </div>
            <div class="col-md-4">
                <%= link_to 'Terms', terms_path, class: "link-secondary"  %>
                <br>
                <%= link_to 'Privacy', privacy_path, class: "link-secondary" %>
            </div>
        </div>
    </div>
</div>
