
<div class="bg-light text-center">
    <br>
    <div class="container"> 
        <div class="row aligh-items-start">
            <div class="col-md-4">
                    <%= link_to 'Landing Page', root_path, class: "nav-link" %>
            </div>
            <div class="col-md-4">
                <%= link_to 'Privacy', privacy_path, class: "nav-link" %>
            </div>
            <div class="col-md-4">
                 <%= link_to 'Terms', terms_path, class: "nav-link"  %>
            </div>
        </div>
    </div>
</div>
